In [31]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [41]:
data = pd.read_csv("train.csv")
data.drop("Embarked",axis=1,inplace=True)
data.Age.fillna(data.Age.mean(),inplace=True)
temp = np.zeros(len(data))
for i in range(len(data)):
    if(data["Age"][i]<=16):
        temp[i]=3
    else:
        if(data["Sex"][i]=="male"):
            temp[i]=1
        else:
            temp[i]=2
data["female_male_child"] = temp
data.drop("Sex",inplace=True,axis=1)
data.drop("Cabin",inplace=True,axis=1)
data.drop("Ticket",inplace=True,axis=1)
data.drop("Name",inplace=True,axis=1)
y_train = np.array(data["Survived"])
data.drop("Survived",inplace=True,axis=1)
x_train = np.array(data)
data.describe()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,female_male_child
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,2.308642,29.699118,0.523008,0.381594,32.204208,1.521886
std,257.353842,0.836071,13.002015,1.102743,0.806057,49.693429,0.688854
min,1.000000,1.000000,0.420000,0.000000,0.000000,0.000000,1.000000
25%,223.500000,2.000000,22.000000,0.000000,0.000000,7.910400,1.000000
50%,446.000000,3.000000,29.699118,0.000000,0.000000,14.454200,1.000000
75%,668.500000,3.000000,35.000000,1.000000,0.000000,31.000000,2.000000
max,891.000000,3.000000,80.000000,8.000000,6.000000,512.329200,3.000000

In [43]:
data = pd.read_csv("test.csv")
data.drop("Embarked",axis=1,inplace=True)
data.Age.fillna(data.Age.mean(),inplace=True)
temp = np.zeros(len(data))
for i in range(len(data)):
    if(data["Age"][i]<=16):
        temp[i]=3
    else:
        if(data["Sex"][i]=="male"):
            temp[i]=1
        else:
            temp[i]=2
data["female_male_child"] = temp
data.drop("Sex",inplace=True,axis=1)
data.drop("Cabin",inplace=True,axis=1)
data.drop("Ticket",inplace=True,axis=1)
data.drop("Name",inplace=True,axis=1)
data.Fare.fillna(data.Fare.mean(),inplace=True)
x_test = np.array(data)
data.describe()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,female_male_child
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,1100.500000,2.265550,30.272590,0.447368,0.392344,35.627188,1.490431
std,120.810458,0.841838,12.634534,0.896760,0.981429,55.840500,0.643100
min,892.000000,1.000000,0.170000,0.000000,0.000000,0.000000,1.000000
25%,996.250000,1.000000,23.000000,0.000000,0.000000,7.895800,1.000000
50%,1100.500000,3.000000,30.272590,0.000000,0.000000,14.454200,1.000000
75%,1204.750000,3.000000,35.750000,1.000000,0.000000,31.500000,2.000000
max,1309.000000,3.000000,76.000000,8.000000,9.000000,512.329200,3.000000

In [55]:
alg1 = RandomForestClassifier()
alg1.fit(x_train,y_train)
y_pred = alg1.predict(x_test).reshape(-1,1)
temp = np.array(data["PassengerId"]).reshape(-1,1)
arr = np.concatenate((temp,y_pred),axis=1)
np.savetxt("pred.csv",arr,fmt="%d",delimiter=",")